*{color:#333;padding:0;margin: 0;  font-family: "Microsoft YaHei";  }
body{background: #fff;}
a{text-decoration: none;}
li{list-style: none;}
.fl{float: left;}
.fr{float: right;}
.fw{font-weight: bold;}
.td{text-decoration: underline;}
.mc{margin: 0 auto;}
.of{overflow: hidden;}
main{

}